@import "../base/variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0.4rem 4rem;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  .logo {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;

    .logo-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;
      margin-right: 13px;

      img {
        height: 45px;
        margin-right: 0.6rem;
      }

      span {
        color: $primary;
        text-decoration: none;
      }
    }
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 87%;

    nav {
      display: flex;
      gap: 1rem;

      a {
        font-size: 0.9rem;
        color: $text-dark;
        text-decoration: none;

        &:hover {
          color: $primary;
        }
      }
    }

    .auth {
      display: flex;
      margin-left: auto;
      gap: 1rem;

      .signin,
      .signup {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
        text-decoration: none;
        border: none;
        cursor: pointer;
        border-radius: 6px;
      }

      .signin {
        background: transparent;
        color: $text-dark;

        &:hover {
          color: $primary;
        }
      }

      .signup {
        background: $primary;
        color: white;

        &:hover {
          background: white;
          color: $primary;
          border: 1px solid $primary;
        }
      }
    }
  }

  .hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  // ===== Tablet =====
  @media (max-width: 1024px) {
    padding: 0.4rem 2rem;

    .menu {
      gap: 1rem;
      font-family: inherit;
      nav a {
        font-size: 0.9rem;
      }
      .auth {
        gap: 0.5rem;
      }
    }
  }

  // ===== Mobile =====
  @media (max-width: 768px) {
    justify-content: left;
    height: 50px;
    font-family: inherit;

    .hamburger {
      display: block;
      position: absolute;
      right: 1.5rem;
      top: 1.2rem;
    }

    .logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      width: 220px;
      background: white;
      padding: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      gap: 1rem;

      nav {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        align-self: start;
        width: 100%;

        .home,
        .upload-img,
        .about {
          border-bottom: 1px solid gray;
          padding-bottom: 5px;
        }
      }

      .auth {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;

        a {
          margin: 0;
        }
      }

      &.show {
        display: flex;
        // padding: 0;
        width: 25%;
      }
    }
  }
}
