@import "../base/variables.scss";

.how-it-works {
  padding: 1rem 8rem 4rem 8rem;
  text-align: center;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .subtitle {
    color: $text-light;
    margin-left: auto; // căn giữa
    margin-right: auto;
    margin-bottom: 3rem;
    max-width: 600px;
    line-height: 1.6;
    font-size: 0.8rem;
  }

  .timeline {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    .timeline-step {
      flex: 1;
      text-align: center;
      position: relative;

      .circle {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 0 auto 1rem;
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .icon {
          position: absolute;
          top: -10px;
          right: -10px;
          background: #207b9c;
          border-radius: 50%;
          padding: 6px;
          font-size: 0.75rem;
          color: inherit;
        }
      }

      h3 {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 0.8rem;
        color: $text-light;
        max-width: 280px;
        margin: 0 auto 1.5rem;
        line-height: 1.4;
      }

      .illustration {
        .illustration-card {
          background: white;
          border-radius: 12px;
          padding: 1rem;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
          max-width: 280px;
          margin: 0 auto;
          border: 2px solid rgba(16, 185, 129, 0.3); // viền xanh nhạt
          position: relative;

          img {
            width: 100%;
            height: 200px; // cố định khung ảnh
            object-fit: cover; // ảnh nào cũng được cắt để khớp
            border-radius: 8px;
            margin-bottom: 0.5rem;
          }

          .caption {
            font-size: 0.8rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 0.5rem;
            font-weight: bold;
            color: $text-light;

            .status {
              color: #10b981; // chữ xanh
              font-weight: bold;
              background: rgba(16, 185, 129, 0.1); // nền xanh nhạt
              border: 1px solid rgba(16, 185, 129, 0.3); // viền xanh nhẹ
              padding: 2px 8px;
              border-radius: 10px;
              font-size: 0.7rem;
            }
          }

          .info {
            display: flex;
            justify-content: space-between;
            margin-top: 0.5rem;
            font-size: 0.8rem;
            color: $text-light;

            .label,
            .value {
              gap: 0.3rem;
              text-align: left;
              line-height: 1.7;
            }

            .label {
              font-weight: bold;
              color: #444;
              text-align: left;

              span {
                display: block; // mỗi label thành 1 dòng
              }
            }

            .value {
              text-align: right;
              color: $primary;
              font-weight: 700;

              span {
                display: block; // mỗi value thành 1 dòng
              }
            }

            &::after {
              content: "";
              position: absolute;
              top: 1rem;
              left: 1rem;
              right: 1rem;
              height: 200px;
              border-radius: 8px;
              background: rgba(11, 245, 73, 0.2); // xanh nhạt phủ
              z-index: 2;
              pointer-events: none;
            }
          }

          &.guide {
            border: 2px solid rgba(37, 99, 235, 0.7); // viền xanh dương nhạt cho guide
            padding: 1.2rem;

            .guide-header {
              display: flex;
              align-items: center; // căn theo top
              gap: 0.6rem;
              padding: 0;
              margin-bottom: 0.75rem;
              line-height: 1;
              text-align: left;

              .logo {
                font-size: 1.5rem;
                color: #22c55e; // xanh lá check
                flex-shrink: 0; // không co lại
              }

              .text {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h4 {
                  font-size: 1rem;
                  font-weight: 600;
                  margin: 0;
                  //padding: 0;
                  color: #111;
                }

                .subtitle {
                  display: block;
                  font-size: 0.75rem;
                  color: #666;
                  margin: 0; // Bỏ khoảng cách dưới phụ đề
                  // padding: 0;
                  font-style: italic;
                }
              }
            }

            ul {
              // margin-top: 0;
              padding-left: 1.2rem;
              // list-style: disc;
              font-size: 0.8rem;
              color: black;
              text-align: left;
              list-style: decimal;
              line-height: 1.5;

              li::marker {
                font-weight: bold;
              }
              li {
                margin-bottom: 0.3rem;
              }
            }
          }
        }
      }

      .line {
        position: absolute;
        top: 35px;
        right: -50%;
        width: 100%;
        height: 3px;
        background: #e5e7eb;
        z-index: -1;
      }
    }
  }

  @media (max-width: 768px) {
    .timeline {
      flex-direction: column;
      align-items: center;

      .timeline-step {
        margin-bottom: 3rem;

        .line {
          display: none;
        }
      }
    }
  }
}
