body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

// Import admin styles
@import './assets/styles/admin/SharedComponents.scss';
@import './assets/styles/admin/UserManagement.scss';
@import './assets/styles/admin/FirstAidManagement.scss';
@import './assets/styles/admin/AdminLogs.scss';
