//LoginForm
@import "../styles/base/variables.scss";
.signin-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(rgba($primary, 0.67), rgba($primary, 0.67)),
    url("../images/background2.png");
  background-size: cover;
  background-position: center;
}

.signin-box {
  background-color: rgba(255, 255, 255, 0.7); /* nền nhạt mờ */
  padding: 30px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.signin-box h2 {
  color: #26b894;
  margin-bottom: 20px;
  margin-top: -10px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
  padding: 5px 5px;
  position: relative;

  .icon {
    margin-right: 8px;
    color: black;
    font-size: 14px;
  }

  input {
    border: none;
    outline: none;
    flex: 1;
    padding: 8px;
    font-size: 14px;
  }

  /* 👁 con mắt hiển thị bên phải */
  .fa-eye,
  .fa-eye-slash {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      color: #333;
    }
  }
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  margin-bottom: 20px;
}

label {
  display: flex;
  align-items: center; // để checkbox và chữ Remember me cùng hàng
  gap: 6px; // khoảng cách đẹp giữa checkbox và chữ
  cursor: pointer;
}

.forgot-link {
  color: #333;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary {
  background-color: #26b894;
  color: white;
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-outline {
  border: 1px solid #26b894;
  background: transparent;
  color: #26b894;
}

.btn-outline:hover {
  background: #26b894;
  color: white;
}

p.error-signin-message {
  color: red;
  font-size: 0.7rem;
  margin-top: 4px;
  text-align: left;
  margin-bottom: 0.5rem;
}

/* Tắt icon mặc định của Chrome/Edge/Safari */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-password-toggle-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button {
  display: none;
  -webkit-appearance: none;
}
