@import "../styles/base/variables.scss";

.upload-form {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #d1eae5 0%, #ffffff 100%);
  font-family: "Inter", sans-serif;
}

/* Upload Box */
.upload-box {
  margin: 60px auto 10px;
  padding: 20px;
  max-width: 650px;
  width: 90%;
  text-align: center;
  background: #f9fdfc;
  border: 2px solid $primary;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.upload-dropzone {
  display: block;
  padding: 50px 40px;
  border: 2px dashed #26b894;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: rgba(38, 184, 148, 0.05);
  }
}

.upload-icon {
  font-size: 30px;
  //   color: #26b894;
  //   margin-bottom: 15px;
  width: 70px;
  height: 70px;
  background: #3ea38f; // màu nền ô vuông
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  margin: auto;
  .sub-icon {
    width: 27px;
    height: 27px;
    background: white;
    border: 2px solid #3ea38f;
    border-radius: 50%;
    color: #3ea38f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;

    position: absolute;
    bottom: -5px;
    right: -5px;
  }
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #1a1a1a;
}

p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.file-types {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 12px;

  span {
    border: 1px solid #cfdfe0;
    border-radius: 20px;
    padding: 4px 14px;
    font-size: 13px;
    background: #fff;
    color: #333;
  }
}

.file-note {
  font-size: 12px;
  color: #999;
}

/* Footer */
.upload-footer {
  margin-top: auto;
  text-align: center;
  padding: 20px 20px 0px;
  color: #333;

  h4 {
    margin: 10px 0;
    font-weight: 600;
  }

  p {
    font-size: 13px;
    color: #555;
    margin-bottom: 15px;
  }

  .features {
    display: flex;
    justify-content: center;
    gap: 3rem;
    // margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: $text-light;
    background: none;
    padding-bottom: 1rem;
  }

  .copyright {
    font-size: 12px;
    color: #777;
    border-top: 1px solid #eee;
    padding-top: 12px;
  }
}

/* Drag Overlay */
.drag-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(38, 184, 148, 0.8); // lớp mờ
  z-index: 999; // nổi trên hết
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; // không chặn thao tác drop
  transition: opacity 0.3s ease-in-out;

  span {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    // background: rgba(38, 184, 148, 0.9);
    padding: 12px 24px;
    border-radius: 8px;
  }
}

.loading-screen {
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #e8f8f5, #d0f0eb);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #009688;

  i {
    font-size: 50px;
    margin-bottom: 10px;
    animation: spin 1s linear infinite;
  }

  p {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 100px;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
